<section class="container">
<% if resource.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <ul class="al">
      <% resource.errors.full_messages.each do |message| %>
        <p><%= message %></p>
      <% end %>
    </ul>
  </div>
<% end %>
</section>