/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap";
 
:root {
    --primary-color: #333;
    --secondary-color: #444;
    --dark-color: #000;
    --overlay-color: rgba(0,0,0,0.7);
}

* {
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
}

 body {
    color: #333;
    line-height: 1.6;
 }

 h1,h2, h3, h4, h5 {
    font-family: 'Oswald', sans-serif;
 }

 h6 {
     font-size: 15px;
 }

 ul li {
     list-style: none;   
 }

 a {
     text-decoration: none;
     color: #444;
 }

 img {
     width: 100%;
 }

 .container {
     max-width: 1100px;
     margin: auto;
     overflow: hidden;
     padding: 0 2rem;
 }

 .navbar {
     padding-top: 0.3rem;
     padding-bottom: 0.3rem;
 }

 .navbar .container {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
 }

 .container .nav,.register {
     justify-self: left;
     display: flex;
 }

 .register {
     justify-self: end;
     margin: 5px;
 }

 ul li{
     margin-left: 25px;

 }

.navbar {
    background-color: #00468D;
    color: #fff;
}

.navlist {
    color: #fff;
}

.logo {
    font-size: 21px;
}

// Banner for the site
.image1 {
    background-image: linear-gradient(to right, transparent, black), url('img1.jpg');
    height: 573px;
    background-position: 50% 60%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

.image2 {
    background-image: url('img2.jpg');
    height: 573px;
    background-position: 50% 60%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

.image3 {
    background-image: url('img4.JPG');
    height: 573px;
    background-position: 50% 60%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

.image4 {
    background-image: url('img5.JPG');
    height: 573px;
    background-position: 50% 60%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

.intro {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.intro h1 {
    font-weight: bold;
}

.welcome h2 {
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    color: #00468D;
}

.line, h4 {
    color: #00468D;
    font-weight: bold;
}

.int ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.int ul li {
    font-weight: bolder;
    color: #00468D;
}

.int ul li:last-child {
    justify-self: end;
    margin-right: 125px;
}

.news {
    background-color: lightgray;
    height: 390px;
}

.more {
    margin-right: 185px;
}

.myfooter ul {
    display: flex;
    justify-content: center;
}

// This is for styling the Login Form
.log_container {
    background-color: #00468D;
}

.logo_tag {
    position: relative;
    right: 19em;
}

.login_p {
    width: 320px;
    height: 420px;
    background-color: #00468D;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}


// This is the style for Signing Up page

.signup_page {
    width: 1020px;
    height: 580px;
    background-color: #00468D;
    color: #fff;
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.signup_container {
    height: 100vh;
}

.my_photo {
    width: 50px;
    height: 50px;
}

// This is the section for the forgot password page
.forgot_pwd_container {
    width: 320px;
    height: 380px;
    background-color: #00468D;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}


// This is the style for the DASHBOARD
/* side navigation  */
.thumb {
    width: 80px;
    height: 80px;
}

ul li a {
    color: #fff;
    font-size: 14px;
}

ul li a:hover {
    color: rgb(233, 227, 227);
}

.side {
    background-color:rgb(22,22,29);
}

.stick ul li a:hover {
    background: white;
    color: black;
    border-left: 5px solid rgb(77,77,255);
}

#sidebarMenu {
    position: fixed;
    height: 97vh;
}

.user_ico {
    font-size: 100px;
}

.nav_user_icon {
    color: grey;
}

.dash_nav {
    margin-right: 7em;
}

.dropdown-menu li:hover {
    color: white;
    border-left: 5px solid rgb(77,77,255);
}

// This is for the editing user information

.edit_reg {
    width: 990px;
    height: 630px;
    background-color: #00468D;
    color: #fff;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.edit_inner_container {
    position: relative;
    bottom: 40px;
}

// This field is for adding the Avatar

.edit_user_avatar {
    height: 130px;
    width: 150px;
    position: relative;
    bottom: 50px;
    left: 90px;
}

.nav_user_icon {
    height: 35px;
    width: 35px;
}

.user_dashboard_img {
    width: 90px;
    height: 90px;
}

.dropdown-toggle {
    font-size: 15px;
}